In [1]:
import requests, bs4, time
import pandas as pd

First searching for all job postings using the word 'Data' on www.monster.co.uk

In [ ]:
url = 'https://www.monster.co.uk/jobs/search/?q=data&cy=uk&client=power&stpage=1&page=10'

In [ ]:
#  GET request
res = requests.get(url)
soup = bs4.BeautifulSoup(res.content)

Extracting all the links to the individual job postings.

In [ ]:
def extract_links(soup):
    links =[]
    for div in soup.find_all(name='a', attrs={'data-bypass':'true'}):
        links.append(div['href'])
    return links

links = extract_links(soup)

Write extracted links into a txt-File.

In [ ]:
with open('monster_links.txt', 'w') as f:
    for item in links:
        f.write("%s\n" % item)

# Scraping websites for each individual job posting link:
First extracting the links from the text file.

In [ ]:
links = [line.rstrip('\n') for line in open('monster_links.txt','r')]

Function for extracting the job title from the website:

In [ ]:
def extract_jobtitle(soup):
    title = 'no title'
    for div in soup.find_all(name='h1', attrs={'class':'title'}):
        title = div.text
    return(title)

Function for extracting the job description from the website:

In [ ]:
def extract_descr(soup):
    jobdesc = []
    for div in soup.find_all(name='span', attrs={'id':'TrackingJobBody'}):
        jobdesc = div.text
    return jobdesc

Function for extracting salary from the website:

In [ ]:
def extract_salary(soup):
    salary = []
    for div in soup.find_all('div',{'class':'col-xs-12 cell'}):
        salary = div.text
    return salary

Function for extracting meta-data from the website:

In [ ]:
def extract_summary(soup):
    summary = []
    for div in soup.find_all('div',{'class':'mux-job-summary'}):
        summary = div.text 
    return summary

In [42]:
ads = pd.DataFrame(columns=['job_title/company','salary','description','summary'])

In [47]:
for i in range(0,len(links)):
    url = links[i]
    time.sleep(1)
    res = requests.get(url)
    time.sleep(1)  #ensuring at least 1 second between page grabs
    soup = bs4.BeautifulSoup(res.content)
    df = pd.DataFrame()
    df['job_title/company'] = [extract_jobtitle(soup)]
    df['description'] = [extract_descr(soup)]
    df['salary'] = [extract_salary(soup)]
    df['summary'] = [extract_summary(soup)]
    
    ads = ads.append(df, sort=False)

ads.to_csv('monster.csv', index=True, sep='\t')

In [48]:
ads

,job_title/company,salary,description,summary
0,Data Visualisation Developer - ADLIB,"\n\nSalary\n\n\r\n £30,000....",Create novel ways of visualising data.Develop ...,"\n\n\nLocation\nBath, SW BA11SU\n\n\n\n\nJob t..."
0,Data Visualisation Developer - ADLIB,"\n\nSalary\n\n\r\n £30,000....",Create novel ways of visualising data.Develop ...,"\n\n\nLocation\nBath, SW BA11SU\n\n\n\n\nJob t..."
0,Data Visualisation Developer - ADLIB,"\n\nSalary\n\n\r\n £30,000....",Create novel ways of visualising data.Develop ...,"\n\n\nLocation\nBath, SW BA11SU\n\n\n\n\nJob t..."
0,Data Visualisation Developer - ADLIB,"\n\nSalary\n\n\r\n £30,000....",Create novel ways of visualising data.Develop ...,"\n\n\nLocation\nBath, SW BA11SU\n\n\n\n\nJob t..."
0,no title,[],[],[]
...,...,...,...,...
0,Data Incident Analysis Specialist - Nationwide,[],Job descriptionWe need:• Data Incident Analysi...,"\n\n\nLocation\nSwindon Head Office, SW\n\n\n\..."
0,no title,[],[],[]
0,no title,[],[],[]
0,IT Business Analyst - TOMGANDHI CONSULTING LIM...,[],No SponsorshipJob Title :- IT Business Analyst...,\n\n\nLocation\nZurich\n\n\n\n\nJob type\nPer ...
0,no title,[],[],[]

In [57]:
ads['job_title/company'].value_counts()

no title                                                                                    499
Business Analyst (Data Management) - Potters Bar - Ashdown Group                              5
Data Visualisation Developer - ADLIB                                                          4
Data Scientist - Basingstoke - Spectrum IT                                                    3
Consulting Director, Data - TOMGANDHI CONSULTING LIMITED                                      3
                                                                                           ...
Sales Executive - Global Energy Research / Market Data Provider - ABR Associates Limited      1
BI / Data Warehouse Developer - Colchester - Noir Consulting                                  1
Data Insight Manager - Understanding Recruitment                                              1
Exams and Data Manager HULL89280 - Hull College                                               1
DevOps Engineer for Sports Data Product - Work in Lithuania                                   1
Name: job_title/company, Length: 241, dtype: int64