In [229]:
import requests, bs4, time
#import selenium

In [193]:
def extract_job_title_from_result(soup): 
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)
extract_job_title_from_result(soup)

['Junior Data Researcher',
 'Open Source Intelligence Analyst',
 'Data Scientist - Data Intelligence',
 'Lead Data Scientist',
 'Data Migration Analyst',
 'Trainee Data Engineer',
 'Project Officer (National Data Resource)',
 'Freelance\xa0Copywriters',
 'Intelligence Officer',
 'Graduate Programme 2020',
 'Data Forensic Investigator (number of positions to be confirmed)',
 'Graduate Accelerated Career Programme, Insights',
 'Research, Evaluation and Learning Intern',
 'General Operative - Lincoln (Permanent)',
 'Analyst',
 'Graduate Data Architect Scheme',
 'Data Processor',
 'Data entry and presentation technician',
 'Business Intelligence Data Engineer']

In [201]:
def extract_salary_from_result(soup): 
    salaries = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            salaries.append(div.find(name="span",attrs={"class":"salaryText"}).text)
        except:
            salaries.append("Nothing_found")
    return(salaries)
extract_salary_from_result(soup)

['\n                            £18,000 - £20,000 a year',
 '\n                            £34,053 a year',
 'Nothing_found',
 '\n                            £80,000 - £95,000 a year',
 '\n                            £20,000 - £25,000 a year',
 'Nothing_found',
 '\n                            £24,214 - £30,112 a year',
 'Nothing_found',
 '\n                            £33,800 - £42,700 a year',
 '\n                            £28,000 a year',
 'Nothing_found',
 '\n                            £30,000 a year',
 'Nothing_found',
 '\n                            £11.56 an hour',
 '\n                            £350 a day',
 '\n                            £25,000 - £30,000 a year',
 '\n                            £21,600 - £22,800 a year',
 '\n                            £18,500 - £20,000 a year',
 '\n                            £40,000 - £50,000 a year']

In [209]:
def extract_location_from_result(soup): 
    locations = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            locations.append(div.find("span", attrs={"class": "location accessible-contrast-color-location"}).text)
        except:
            locations.append("Nothing_found")
   
    return(locations)
extract_location_from_result(soup)

['Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Hertfordshire',
 'Glamorgan',
 'Remote',
 'London',
 'United Kingdom',
 'Bristol',
 'Reading',
 'United Kingdom',
 'Lincoln',
 'East London',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found']

In [210]:
def extract_description_from_result(soup): 
    description = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            description.append(div.find("div", attrs={"class": "summary"}).text)
        except:
            description.append("Nothing_found")
   
    return(description)
extract_description_from_result(soup)

['\n            As a Junior Data Researcher, you will be expected to generate lead research information in specified regions and industry verticals using your own initiative…',
 '\n            By the time you leave us, you will have an enhanced understanding of open source techniques, data science-led approaches and behavioural science methodologies.',
 '\n            Demonstrable proficiency in statistical data analysis and data visualisation. The successful candidate will be comfortable working within a multi-disciplinary…',
 '\nData Scientist/ NoSQL/ R/ python/ Machine Learning/ London/ Consultancy. Working with Relational databases, NoSQL and Data visualisation technology.',
 '\n            Communicating with clients about requirements for data import – flagging any issues in data to customers, making sure accuracy throughout work.',
 '\n            We also have vacancies for junior engineers, no previous experience required, only a keenness to learn new skills and an opportunity to become a data…',
 '\n            The NDR will provide improved analytics capability and will enable better decision making for clinicians, operational managers, data scientists and other…',
 '\n            By filling out and sending this form, you acknowledge that your data will be recorded on Re: Are you a wicked wordsmith? Do you love to write?',
 '\n            A sharp intellect with an ability to link disparate data in order to draw conclusions. Intelligence is at the heart of what MI6 does.',
 '\n            Our two-year programme makes sure you experience many parts of the Society, so you can see how it all works together, as well as gaining in depth knowledge of…',
 '\n            For further details or an informal discussion please contact Jay Driscoll or Nick BRIGDEN, Data Forensic Team Leaders, on 01364 625973 or email at Jay.DRISCOLL…',
 '\n            See the connections in data, trends, events, and able to bring to life in a compelling, action focussed way. There’s No One Else Quite Like You.',
 '\n            The intern will support with the delivery of specific pieces of research and evaluation work by collecting and analysing data, supporting design of studies …',
 '\n            Understanding and interpreting numerical data and confidently communicating verbally and in written form machine performance and any gaps in standards using…',
 '\n            They may be a specialist in a particular industry such as finance or education, or they may have a specific skill set such as coding or data analysis or…',
 '\n            An interest in Data Architecture and Modelling. Data is being put at the heart of this company and you will be involved in a number of architecture solutions.',
 '\n            Have a clear understanding of data quality, data sources, data definitions and data flows. Understanding of Data protection principles;',
 '\n            Using reporting functions to present data. Data entry from engineers notes to our specialist database. We are currently recruiting for a technician to join our…',
 '\n            Proven experience in business intelligence, data warehousing, data management and data delivery, database and ETL technologies. What will you be doing?']

In [216]:
def extract_date_from_result(soup): 
    date = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            date.append(div.find("span", attrs={"class": "date"}).text)
        except:
            date.append("Nothing_found")
   
    return(date)
extract_date_from_result(soup)

['3 days ago',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 '30+ days ago',
 '5 days ago',
 '4 months ago',
 '4 months ago',
 '19 days ago',
 '45 minutes ago',
 '30+ days ago',
 '12 days ago',
 '17 days ago',
 '3 hours ago',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found']

In [217]:
def extract_company_from_result(soup): 
    company = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        try:
            company.append(div.find("span", attrs={"class": "company"}).text)
        except:
            company.append("Nothing_found")
   
    return(company)
extract_company_from_result(soup)

['\n        Project 11',
 '\n\n        Foreign & Commonwealth Office',
 '\n\n        G-Research',
 '\n\n        Opus Recruitment Solutions',
 '\n        Equinox by Work AnyWare',
 '\n        EpiQuestLive',
 '\n\n        NHS Wales Informatics Service',
 '\n        Re:signal',
 '\n        Secret Intelligence Service',
 '\n\n        Nationwide Building Society',
 '\n\n        Dorset Police',
 '\n\n        PepsiCo',
 '\n\n        Action Against Hunger UK',
 '\n\n        PepsiCo',
 '\n        BP Bagley',
 '\n        Veea Group',
 "\n\n        Claire House Children's Hospice",
 '\n        Soiltechnics Ltd.',
 '\n\n        4Com']

In [231]:
ads=pd.DataFrame(columns=['company','job_title','salary','location','description','date'])
ads

Empty DataFrame
Columns: [company, job_title, salary, location, description, date]
Index: []

In [235]:
#scraping code:
searchTerm="data"
ads=pd.DataFrame(columns=['company','job_title','salary','location','description','date'])

for i in range(0,980,10):
    time.sleep(1)
    url = "https://www.indeed.co.uk/jobs?q="+searchTerm+"&l="+"&start="+str(i)
    time.sleep(1)  #ensuring at least 1 second between page grabs
    res = requests.get(url)
    #time.sleep(1)  #ensuring at least 1 second between page grabs
    soup = bs4.BeautifulSoup(res.content)
    df=pd.DataFrame()
    df['company']=extract_company_from_result(soup)
    df['job_title']=extract_job_title_from_result(soup)
    df['salary']=extract_salary_from_result(soup)
    df['location']=extract_location_from_result(soup)
    df['description']=extract_description_from_result(soup)
    df['date']=extract_date_from_result(soup)
    
    ads=ads.append(df)

In [247]:
import os
os.getcwd()

'C:\\Users\\lundr\\DataScienceJobs\\notebooks'

In [249]:
#ads.to_csv(r"data\indeed_scrape_data.csv")

In [240]:
#currently just over 1000 have salary information
ads[ads['salary']=='Nothing_found'].shape[0]

712

In [221]:
df

,company,job_title,salary,location,description,date
0,\n Project 11,Junior Data Researcher,"\n £18,000 - £20,00...",Nothing_found,"\n As a Junior Data Researcher, you...",3 days ago
1,\n\n Foreign & Commonwealth Office,Open Source Intelligence Analyst,"\n £34,053 a year",Nothing_found,"\n By the time you leave us, you wi...",Nothing_found
2,\n\n G-Research,Data Scientist - Data Intelligence,Nothing_found,Nothing_found,\n Demonstrable proficiency in stat...,Nothing_found
3,\n\n Opus Recruitment Solutions,Lead Data Scientist,"\n £80,000 - £95,00...",Nothing_found,\nData Scientist/ NoSQL/ R/ python/ Machine Le...,Nothing_found
4,\n Equinox by Work AnyWare,Data Migration Analyst,"\n £20,000 - £25,00...",Nothing_found,\n Communicating with clients about...,Nothing_found
5,\n EpiQuestLive,Trainee Data Engineer,Nothing_found,Hertfordshire,\n We also have vacancies for junio...,30+ days ago
6,\n\n NHS Wales Informatics Service,Project Officer (National Data Resource),"\n £24,214 - £30,11...",Glamorgan,\n The NDR will provide improved an...,5 days ago
7,\n Re:signal,Freelance Copywriters,Nothing_found,Remote,\n By filling out and sending this ...,4 months ago
8,\n Secret Intelligence Service,Intelligence Officer,"\n £33,800 - £42,70...",London,\n A sharp intellect with an abilit...,4 months ago
9,\n\n Nationwide Building Society,Graduate Programme 2020,"\n £28,000 a year",United Kingdom,\n Our two-year programme makes sur...,19 days ago
10,\n\n Dorset Police,Data Forensic Investigator (number of position...,Nothing_found,Bristol,\n For further details or an inform...,45 minutes ago
11,\n\n PepsiCo,"Graduate Accelerated Career Programme, Insights","\n £30,000 a year",Reading,"\n See the connections in data, tre...",30+ days ago
12,\n\n Action Against Hunger UK,"Research, Evaluation and Learning Intern",Nothing_found,United Kingdom,\n The intern will support with the...,12 days ago
13,\n\n PepsiCo,General Operative - Lincoln (Permanent),\n £11.56 an hour,Lincoln,\n Understanding and interpreting n...,17 days ago
14,\n BP Bagley,Analyst,\n £350 a day,East London,\n They may be a specialist in a pa...,3 hours ago
15,\n Veea Group,Graduate Data Architect Scheme,"\n £25,000 - £30,00...",Nothing_found,\n An interest in Data Architecture...,Nothing_found
16,\n\n Claire House Children's Hospice,Data Processor,"\n £21,600 - £22,80...",Nothing_found,\n Have a clear understanding of da...,Nothing_found
17,\n Soiltechnics Ltd.,Data entry and presentation technician,"\n £18,500 - £20,00...",Nothing_found,\n Using reporting functions to pre...,Nothing_found
18,\n\n 4Com,Business Intelligence Data Engineer,"\n £40,000 - £50,00...",Nothing_found,\n Proven experience in business in...,Nothing_found

Trouble is that we need the full job descriptions, which are on child pages. Below I extract the HTML elements which can then be used to create the urls of the child pages. The problem is that at the moment is doesn't seem to work (scraping the child pages doesn't seem to give the correct elements).

In [101]:
#extract ids and data-jk from all adverts on current page, so that new urls can be created
import re

info={}
for tag in soup.findAll("div", {'class':re.compile('jobsearch-SerpJobCard')}):
    dataempn=str(tag.get('data-empn'))
    datajk=str(tag.get('data-jk'))
    info[dataemp]=datajk

In [104]:
# create urls for scraping from info
searchTerm="data"

urls=[]
for keys in info:
    sub_url="https://www.indeed.co.uk/jobs?q="+searchTerm+"&"+"l&advn="+keys+"&vjk="+info.get(keys)
    urls.append(sub_url)
urls

['https://www.indeed.co.uk/jobs?q=data&l&advn=3747467909843217&vjk=56e7de374aab14d6',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=None&vjk=None',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=1979017449966012&vjk=f15c9b1a610e8e47',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=2969860231483394&vjk=629ab875487ca70a',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=8255357065937891&vjk=4581f4f2398d100d',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=9292069614274549&vjk=465eba9fc9e55a98',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=5069600902847717&vjk=17abfee2f05fd563',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=7459990143019053&vjk=768baed796fc13c6',
 'https://www.indeed.co.uk/jobs?q=data&l&advn=9660210449134183&vjk=e9845c80cb1b2f08']