In [3]:
import requests, bs4, time
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup
from datetime import date
import os
import re
import matplotlib.pyplot as plt

In [12]:
def word_count_df(series):
    counts = dict()
    words=[]
    for i in range(len(series)):  
        string=series[i].split()
        for j in range(len(string)):
            words.append(string[j])

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [6]:
#read in data
data = 1pd.read_csv('C:/Users/lundr/DataScienceJobs/data/harnham_scrape_data_2019-10-24.csv')

In [9]:
word =[x.count("data engineer") for x in data['description']]
sum(word)

76

In [20]:

word_count=word_count_df(data['description'])
sorted_x = sorted(word_count.items(), key=lambda kv: kv[1])
sorted_df=pd.DataFrame(sorted_x)

In [25]:
sorted_df.columns=["word","count"]
sorted_df.sort_values(by="count",ascending=False)

               word  count
9361            and  11249
9360             to  10442
9359            the   8850
9358              a   7730
9357             of   5409
...             ...    ...
2300      processed      1
2299       enriched      1
2298  lakewarehouse      1
2297        signals      1
0      Retail£95000      1

[9362 rows x 2 columns]