In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\lundr\appdata\local\continuum\anaconda3\envs\dsj\lib\site-packages (2.8.4)

In [4]:
import psycopg2
import pandas as pd

Syntax for psycopg2

In [2]:
connection = psycopg2.connect(user = "postgres",
                                  password = "Gnomes30",
                                  host = "dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com",
                                  port = "5432",
                                  database = "")

In [18]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Gnomes30",
                                  host = "dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com",
                                  port = "5432",
                                  database = "")

    cursor = connection.cursor()
    
    create_table_query = '''CREATE TABLE my_test_2
          (ID INT PRIMARY KEY     NOT NULL,
          MODEL           TEXT    NOT NULL,
          PRICE         REAL); '''
    
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)

Table created successfully in PostgreSQL

In [10]:
df = pd.read_sql("SELECT * from my_test", connection)

In [11]:
df

     a    b
0  1.0  3.0
1  2.0  4.0

syntax for sqlalchemy

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Gnomes30@dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com:5432/')
conn2 = engine.raw_connection()
#data = pd.DataFrame({"a":[1,2],"b":[3,4]})

#data.to_sql(name = 'my_test',con = engine, if_exists='append',  index=False)

In [13]:
df = pd.read_sql("SELECT * from my_test", conn2)

In [14]:
df

     a    b
0  1.0  3.0
1  2.0  4.0