In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\lundr\appdata\local\continuum\anaconda3\envs\dsj\lib\site-packages (2.8.4)

In [3]:
import psycopg2

In [10]:
connection = psycopg2.connect(user = "postgres",
                                  password = "Gnomes30",
                                  host = "dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com",
                                  port = "5432",
                                  database = "")

In [11]:
connection

In [12]:
import pandas as pd

In [18]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Gnomes30",
                                  host = "dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com",
                                  port = "5432",
                                  database = "")

    cursor = connection.cursor()
    
    create_table_query = '''CREATE TABLE my_test_2
          (ID INT PRIMARY KEY     NOT NULL,
          MODEL           TEXT    NOT NULL,
          PRICE         REAL); '''
    
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)

Table created successfully in PostgreSQL

In [19]:
df = pd.read_sql("SELECT * from my_test", connection)

In [24]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/34/5c/0e1d7ad0ca52544bb12f9cb8d5cc454af45821c92160ffedd38db0a317f6/SQLAlchemy-1.3.11.tar.gz (6.0MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.11-cp37-cp37m-win_amd64.whl size=1173824 sha256=a117b95bee9ebbc818355a0f073928fc1cebd5dee5bda564282d74ca17e97214
  Stored in directory: C:\Users\lundr\AppData\Local\pip\Cache\wheels\a3\67\7d\6c41104a1a08ff1a25e260d3edec3ac19203141d1aaa2f0975
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.11

In [27]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Gnomes30@dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com:5432/')
conn2 = engine.raw_connection()
data = pd.DataFrame({"a":[1,2],"b":[3,4]})

data.to_sql('my_test',conn2, if_exists='append')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^

In [ ]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Gnomes30",
                                  host = "dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com",
                                  port = "5432",
                                  database = "")

    cursor = connection.cursor()
    
    add_data_query = '''CREATE TABLE my_test_2
          (ID INT PRIMARY KEY     NOT NULL,
          MODEL           TEXT    NOT NULL,
          PRICE         REAL); '''
    
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)