In [68]:
from collections import defaultdict
import pandas as pd
import os.path

path = os.getcwd()
parent_folder, current_folder = os.path.split(path)

data = defaultdict(list)
data['location'] = ['Frankfurt','Berlin','Bern','Zurich','Amsterdam','Wien','Munich','Barcelona','Paris','Aurich','Den Haag','Warsaw']
data['region'] = ['Hessen','Berlin','Bern','Zurich','North Holland','Wien','Bayern','Barcelona','Ile-de-France','Niedersachsen','South Holland','Masovia']
data['country'] = ['Germany','Germany','Switzerland','Switzerland','Netherlands','Austria','Germany','Spain','France','Germany','Netherlands','Poland']
loc2 = pd.DataFrame(data)

loc2 = loc2.append({'location' : 'Dusseldorf' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Düsseldorf' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bonn' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Stuttgart' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Vilnius' , 'region' : 'Vilnius', 'country':'Lithuania'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Dublin' , 'region' : 'Leinster', 'country':'Ireland'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wynyard' , 'region' : 'Tasmania', 'country':'Australia'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Eindhoven' , 'region' : 'North Brabant', 'country':'Netherlands'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Melbourne' , 'region' : 'Victoria', 'country':'Australia'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Haeren' , 'region' : 'Brussels', 'country':'Belgium'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Hamburg' , 'region' : 'Hamburg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'München' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Köln' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Potsdam' , 'region' : 'Brandenburg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Leipzig' , 'region' : 'Sachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Dresden' , 'region' : 'Sachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Karlsruhe' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Hannover' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Nürnberg' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Freiburg' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Essen' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Mannheim' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Ludwigshafen Am Rhein' , 'region' : 'Rheinland-Pfalz', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bremen' , 'region' : 'Bremen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Friedrichshafen' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Erlangen' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wolfsburg' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Aachen' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Teterow' , 'region' : 'Mecklenburg-Vorpommern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Penzberg' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Dortmund' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bad Homburg Vor Der Höhe' , 'region' : 'Hessen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wiesbaden' , 'region' : 'Hessen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Rostock' , 'region' : 'Mecklenburg-Vorpommern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Teltow' , 'region' : 'Brandenburg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Biberach An Der Riß' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Ingolstadt' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Saarbrücken' , 'region' : 'Saarland', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Böblingen' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Münster' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Raunheim' , 'region' : 'Hessen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Schönefeld' , 'region' : 'Brandenburg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Ismaning' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Münchberg' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Magdeburg' , 'region' : 'Sachsen-Anhalt', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Immenstadt Im Allgäu' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Eschborn' , 'region' : 'Hessen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Landshut' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Einbeck' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Herzogenaurach' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Stade' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Heidelberg' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Lörrach' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Pforzheim' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Ludwigsburg' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Ulm' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Konstanz' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Baden-Württemberg' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bühl' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Inning Am Ammersee' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wangen Im Allgäu' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Heidenheim An Der Brenz' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Trostberg An Der Alz' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Kaiserslautern' , 'region' : 'Rheinland-Pfalz', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wörth Am Rhein' , 'region' : 'Rheinland-Pfalz', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Waldbronn' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Limburg An Der Lahn' , 'region' : 'Hessen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Göttingen' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bochum' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Wuppertal' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Paderborn' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Meerbusch' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Leverkusen' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Nordrhein-Westfalen' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Hürth' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Maulburg' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Türkheim' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bayreuth' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Aschheim' , 'region' : 'Bayern', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Badenweiler' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Abstatt' , 'region' : 'Baden-Württemberg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Calbe' , 'region' : 'Sachsen-Anhalt', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Coswig' , 'region' : 'Sachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Halle (Saale)' , 'region' : 'Sachsen-Anhalt', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Jena' , 'region' : 'Thüringen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Salzgitter' , 'region' : 'Niedersachsen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Bielefeld' , 'region' : 'Nordrhein-Westfalen', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Brandenburg' , 'region' : 'Brandenburg', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Schleswig-Holstein' , 'region' : 'Schleswig-Holstein', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Kiel' , 'region' : 'Schleswig-Holstein', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Deutschland' , 'region' : '', 'country':'Germany'} , ignore_index=True)
loc2 = loc2.append({'location' : 'Hennigsdorf' , 'region' : 'Brandenburg', 'country':'Germany'} , ignore_index=True)


loc2.to_csv(parent_folder+'/data/locations.csv',index=False)

In [27]:
loc2 = pd.read_csv(parent_folder+'/data/plz_de.csv')

#loc2.to_csv(parent_folder+'/data/plz_de2.csv',index=False)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2585, saw 2

In [95]:
import numpy as np
path = os.getcwd()
parent_folder, current_folder = os.path.split(path)

csv_path = '/data/indeed_de_all.csv'
#csv_path = '/data/indeed_us_all.csv'
#csv_path = '/data/monster_all.csv'

df = pd.read_csv(parent_folder + csv_path, sep='\t')
df = df.replace(np.NaN, 'NaN')
df['salary'] = df['salary'].astype(str)
#df = df.replace('Not available',np.NaN)
df.to_csv(parent_folder + csv_path, sep='\t',index=False)

In [75]:
parent_folder

'/Users/jamoth/DSR/DataScienceJobs'

In [89]:
df

,company,job_title,salary,location,duration,description,url,extraction_date,salary_low,salary_high,jobtype,industry,education,career,ref_code
0,UNICEPTA GmbH,Data Analyst (m/w/d) Analytics & Insights in K...,NaN,NaN,NaN,['Deine Aufgaben:\nMit Deiner Arbeit bist Du m...,NaN,2019-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Analytics Academy - The Information Lab Deutsc...,"Analytics Academy - Junior Data Analyst, m/w/d",NaN,NaN,NaN,['Die Analytics Academy– dein Karriere-Sprungb...,NaN,2019-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IAV GmbH,Solution Architect* – Plattform Big Data & IoT...,NaN,NaN,NaN,['Ihre Aufgaben\nZur Absicherung der Entwicklu...,NaN,2019-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Marc O'Polo,(Junior) Data Warehouse Developer / (Junior) D...,NaN,NaN,NaN,['Deine Aufgaben\nAnalyse und Debugging komple...,NaN,2019-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,etone Motion Analysis GmbH,Senior Data Analyst (m/f/d),NaN,NaN,vor 2 Tagen,"[""Stealth Fitness Tech Startup with great fund...",NaN,2019-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18931,gamigo group,Data Engineering Team Lead (m/f/d) – Berlin,NaN,Berlin,vor 3 Tagen,['We are looking for a skilled and experienced...,https://de.indeed.com/company/gamigo-group/job...,2019-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18932,Hanseatic Statistics,Data Analyst (m/w/d),27 € pro Stunde,Hannover,Vor mehr als 30 Tagen,"['Hi,wir suchen Verstärkung für unser Team, be...",https://de.indeed.com/company/Hanseatic-Statis...,2019-11-04,27 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
18933,Küchen Quelle GmbH,Data Scientist m/w/d,NaN,Berlin,Vor mehr als 30 Tagen,"['Du bist ein Anders-Denker, Ideen-Haber und W...",https://de.indeed.com/rc/clk?jk=575179108c89ba...,2019-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18934,Analytics Academy - The Information Lab Deutsc...,"Analytics Academy - Junior Data Analyst, m/w/d",NaN,NaN,NaN,['Die Analytics Academy– dein Karriere-Sprungb...,https://de.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2019-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18935,MDM Münzhandelsgesellschaft mbH & Co. KG Deuts...,Junior Data Warehouse Entwickler (m/w/d),NaN,NaN,NaN,['Du hast eine Affinität zu Daten und Analysen...,https://de.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2019-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df.dropna(subset =['salary'])

,company,job_title,salary,location,duration,description,url,extraction_date,salary_low,salary_high,jobtype,industry,education,career,ref_code
7,DoScouting,Football Data Journalist,20 € - 25 € pro Stunde,Berlin,vor 22 Stunden,"[""URGENT!! Looking for sport data journalists ...",NaN,2019-10-24,20 €,25 € pro Stunde,NaN,NaN,NaN,NaN,NaN
11,Hanseatic Statistics,Data Analyst (m/w/d),27 € pro Stunde,Berlin,vor 30+ Tagen,"['Hi,wir suchen Verstärkung für unser Team, be...",NaN,2019-10-24,27 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
24,idalab GmbH,Working Student Data Science (m/f/d),15 € pro Stunde,Berlin,vor 6 Monaten,['Wer wir sind\nAls Spezialist*innen für künst...,NaN,2019-10-24,15 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
39,idalab GmbH,Working Student Data Science (m/f/d),15 € pro Stunde,Berlin,vor 6 Monaten,['Wer wir sind\nAls Spezialist*innen für künst...,NaN,2019-10-24,15 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
43,Haensel AMS GmbH,DevOps/ Data Engineer Werksstudent / Working S...,850 € pro Monat,Berlin-Kreuzberg,vor 27 Tagen,['We at Haensel AMS – Advanced Mathematical So...,NaN,2019-10-24,850 € pro Monat,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18898,Hanseatic Statistics,Data Analyst (m/w/d),27 € pro Stunde,Hannover,Vor mehr als 30 Tagen,"['Hi,wir suchen Verstärkung für unser Team, be...",https://de.indeed.com/company/Hanseatic-Statis...,2019-11-04,27 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
18910,Zero to One Search,Data Engineer,55.000 € - 90.000 € pro Jahr,Stuttgart,vor 12 Tagen,"[""Join a German dynamic global technology comp...",https://de.indeed.com/company/Zero-to-One-Sear...,2019-11-04,55.000 €,90.000 € pro Jahr,NaN,NaN,NaN,NaN,NaN
18915,Hanseatic Statistics,Data Analyst (m/w/d),27 € pro Stunde,Hannover,Vor mehr als 30 Tagen,"['Hi,wir suchen Verstärkung für unser Team, be...",https://de.indeed.com/company/Hanseatic-Statis...,2019-11-04,27 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN
18927,Zero to One Search,Data Engineer,55.000 € - 90.000 € pro Jahr,Stuttgart,vor 12 Tagen,"[""Join a German dynamic global technology comp...",https://de.indeed.com/company/Zero-to-One-Sear...,2019-11-04,55.000 €,90.000 € pro Jahr,NaN,NaN,NaN,NaN,NaN
18932,Hanseatic Statistics,Data Analyst (m/w/d),27 € pro Stunde,Hannover,Vor mehr als 30 Tagen,"['Hi,wir suchen Verstärkung für unser Team, be...",https://de.indeed.com/company/Hanseatic-Statis...,2019-11-04,27 € pro Stunde,NaN,NaN,NaN,NaN,NaN,NaN