In [ ]:
#workflow for adding new data to the database

In [ ]:
# push data up to database
# ensure its not duplicate -> if duplicate then delete
# assign it test or train status

In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#connect to the database
PASSWORD = pd.read_pickle('C:/Users/lundr/DataScienceJobs/data/SQL_password.pkl')
engine = create_engine('postgresql://postgres:'+PASSWORD.iloc[0,0]+'@dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com:5432/')

In [ ]:
# append to stick it on the end and, replace to update
data_to_database.to_sql(name = 'all_data',con = engine, if_exists='append',  index=False)

In [3]:
# drop ads with duplicated descriptions

engine.execute(" DELETE FROM all_data a USING all_data b WHERE a.id < b.id AND a.description = b.description;")

In [4]:
#assign test or train status to each entry at random
#engine.execute("ALTER TABLE all_data ADD train_test CHAR")

In [13]:
pd.read_sql("SELECT count(train_test) FROM all_data", engine)

   count
0      0

In [6]:
pd.read_sql(
"""
SELECT * FROM all_data LIMIT 10;
""", engine)

,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,salary_average,...,location,jobtype,posted_date,extraction_date,country,region,url,id,train_test,train_test_label
0,NaN,Data Analyst,None,Zylo,['SaaS changed the way software is purchased. ...,None,NaN,NaN,None,NaN,...,"Indianapolis, IN",None,2019-11-08,None,USA,Indiana,https://www.indeed.com/rc/clk?jk=af09d0ba7e6d6...,26417,0.393437,train
1,NaN,Data Scientist,02/10/19_1570002973,"Reading-£65,000 - Churchill Frank",Job DescriptionRole & Responsibilities develop...,None,NaN,NaN,None,NaN,...,Reading,permanent,2019-10-24,None,United Kingdom,South East,https://job-openings.monster.co.uk/data-scient...,26828,0.831816,train
2,NaN,Data Analyst (Graduate),None,Tandem Bank,\n We all work together along with stakeholder...,None,NaN,NaN,£,NaN,...,London,None,2019-11-08 00:00:00,2019-11-13,UK,London,None,166,0.844503,train
3,124.0,Software Engineer,50002,Harnham,- berlin germany ...,€65000 - €75000 per annum + benefits,65000.0,75000.0,€,70000.0,...,Berlin,Permanent,None,2019-11-14,GER,Berlin,https://www.harnham.com/job/software-engineer-...,167,0.574755,train
4,125.0,4MAT,00048DP,Harnham,berlin - hast du berei...,€60 - €70 per annum,60000.0,70000.0,€,65000.0,...,Berlin,Permanent,None,2019-11-14,GER,Berlin,https://www.harnham.com/job/senior-marketing-d...,168,0.674703,train
5,NaN,Client Services/Data Analytics Intern (Spring ...,None,Canvs,"[""Canvs is the industry standard for topical a...",$15 an hour,15.0,15.0,$,15.0,...,"New York, NY 10004 (Financial District area)",None,2019-11-06,None,USA,New York,https://www.indeed.com/rc/clk?jk=587a0c342159d...,10510,0.169232,test
6,NaN,Energy and Sustainability Data Analyst,None,The RMR Group,['Overview\nCollaborate with the National and ...,C had approximately $30.6 billion of total ass...,30.0,30.0,$,30.0,...,"Newton, MA 02458",None,2019-11-15,None,USA,Massachusetts,https://www.indeed.com/rc/clk?jk=71d5f25550c77...,10511,0.184600,test
7,NaN,Marketing Analytics and Customer Behavior Busi...,None,Amazon UK Services Ltd,\n We are currently looking for a Marketing An...,None,NaN,NaN,£,NaN,...,London,None,2019-10-14 00:00:00,2019-11-13,UK,London,None,42,0.910029,train
8,NaN,Production Mananger - Packing,None,Butcher s Pet Care Ltd,\n Lean methodology / Businesses improvement i...,"£40,000 a year",40000.0,40000.0,£,40000.0,...,Northampton NN6,None,2019-11-12 00:00:00,2019-11-13,UK,East Midlands,None,43,0.521043,train
9,NaN,Senior Data Scientist,000_106,WHITEHAT ANALYTICS LIMITED,ABOUT WHITEHAT ANALYTICSWhitehat Analytics is ...,None,NaN,NaN,None,NaN,...,London,permanent,2019-10-23,None,United Kingdom,London,https://job-openings.monster.co.uk/senior-data...,26841,0.037895,test

In [10]:
# change column data type
engine.execute('''ALTER TABLE all_data ALTER COLUMN train_test SET DATA TYPE float USING train_test::double precision''')

In [5]:
# allocate train and tes columns
engine.execute(''' UPDATE all_data 
                    SET train_test_label = CASE 
                                            WHEN train_test > 0.2 THEN 'train'
                                            ELSE 'test'
                                            END 
                    WHERE train_test IS NOT NULL''')

In [9]:
pd.read_sql('''SELECT count(train_test_label) from all_data WHERE train_test_label = 'test'
''', engine)

   count
0   2982

In [ ]:
### add a new column
engine.execute(''' ALTER TABLE all_data ADD COLUMN train_test_label text''')

In [15]:
# create a view to experiement with train and test
pd.read_sql(''' SELECT * , 
        CASE 
            WHEN train_test > 0.2 THEN 'train'
            ELSE 'test'
        END train_test_label
        FROM all_data
        LIMIT 10
''', engine)

,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,salary_average,...,location,jobtype,posted_date,extraction_date,country,region,url,id,train_test,train_test_label
0,NaN,Data Analyst,None,Zylo,['SaaS changed the way software is purchased. ...,None,NaN,NaN,None,NaN,...,"Indianapolis, IN",None,2019-11-08,None,USA,Indiana,https://www.indeed.com/rc/clk?jk=af09d0ba7e6d6...,26417,0.393437,train
1,64.0,PROGRAMMATISCHER KAMPAGNENMANAGER,225476,Harnham,köln - plus bonus ...,€60000 - €70000 per annum + BONUS,60000.0,70000.0,€,65000.0,...,Köln Nordrhein-Westfalen,Permanent,None,2019-11-14,GER,Nordrhein-Westfalen,https://www.harnham.com/job/programmatischer-k...,81,0.162939,test
2,NaN,Machine Learning Engineer / Artificial Intelli...,None,Engage Transform Consultancy Ltd,\n Machine Learning Engineer / Artificial Inte...,"£70,000 a year",70000.0,70000.0,£,70000.0,...,United Kingdom,Permanent,2019-10-14 00:00:00,2019-11-13,UK,UK Unknown,None,85,0.102517,test
3,NaN,Data Scientist,j10955,Catalogue Management - DataTech Search and Se...,Senior Catalogue Manager - Negotiable Salary -...,None,NaN,NaN,None,NaN,...,Sweden,permanent,2019-11-13,None,None,None,https://job-openings.monster.co.uk/data-scient...,27004,0.307191,train
4,NaN,Big Data Engineer (w/m/d),None,Active Agent AG,['Deine Aufgaben\nNeuentwicklung des Reporting...,None,NaN,NaN,None,NaN,...,Freiburg,None,2019-10-19,None,Germany,Baden-Württemberg,https://de.indeed.com/rc/clk?jk=28dd16781720ee...,154,0.916908,train
5,NaN,Data Scientist/Specialist,None,BBVA Compass,['Company: Compass Bank dba BBVA Compass\nLoca...,None,NaN,NaN,None,NaN,...,"Houston, TX",None,2019-11-01,None,USA,Texas,https://www.indeed.com/rc/clk?jk=6e09d268f3900...,26687,0.613537,train
6,NaN,Solutions Consultant (UK),None,Amplitude,\n We've built a product intelligence platform...,None,NaN,NaN,£,NaN,...,London,None,2019-11-13 00:00:00,2019-11-13,UK,London,None,291,0.647286,train
7,NaN,Senior Business Intelligence Analyst,None,Proactive IT Appointments,\n Our client who are a global media giant cur...,"£50,000 - £60,000 a year",50000.0,60000.0,£,55000.0,...,London,Permanent,2019-10-14 00:00:00,2019-11-13,UK,London,None,333,0.181957,test
8,NaN,Manager of Data Integration,None,UC San Diego,"[""UC San Diego Health is seeking an applicant ...",None,NaN,NaN,None,NaN,...,"San Diego, CA",None,2019-10-17,None,USA,California,https://www.indeed.com/rc/clk?jk=20b463732befa...,335,0.550215,train
9,NaN,School Data Coordinator,None,Pearson,['**Description**\n\nCompany Summary\n\nAt Pea...,None,NaN,NaN,None,NaN,...,"Columbia, MD 21044",None,2019-11-14,None,USA,Maryland,https://www.indeed.com/rc/clk?jk=147c13c4311bf...,585,0.277983,train

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "train"
LINE 1:  UPDATE all_data SET train_test = 'train' WHERE train_test <...
                                          ^

[SQL:  UPDATE all_data SET train_test = 'train' WHERE train_test < 0.8]
(Background on this error at: http://sqlalche.me/e/9h9h)