In [ ]:
#workflow for adding new data to the database

In [ ]:
# push data up to database
# ensure its not duplicate -> if duplicate then delete
# assign it test or train status

In [2]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [3]:
#connect to the database
PASSWORD = pd.read_pickle('C:/Users/lundr/DataScienceJobs/data/SQL_password.pkl')
engine = create_engine('postgresql://postgres:'+PASSWORD.iloc[0,0]+'@dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com:5432/')

In [ ]:
# append to stick it on the end and, replace to update
data_to_database.to_sql(name = 'all_data',con = engine, if_exists='append',  index=False)

In [3]:
# drop ads with duplicated descriptions

engine.execute(" DELETE FROM all_data a USING all_data b WHERE a.id < b.id AND a.description = b.description;")

In [4]:
#assign test or train status to each entry at random
#engine.execute("ALTER TABLE all_data ADD train_test CHAR")

In [13]:
pd.read_sql("SELECT count(train_test) FROM all_data", engine)

   count
0      0

In [24]:
pd.read_sql(
"""
SELECT * FROM all_data WHERE train_test IS NULL AND country = 'UK';
""", engine)

,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,salary_average,...,salary_type,location,jobtype,posted_date,extraction_date,country,region,url,id,train_test
0,0.0,Senior Data Scientist,Vacancy #53029,Harnham,up to london the company th...,£80000 - £110000 per annum,80000.0,110000.0,£,108300.00,...,yearly,London,Permanent,None,2019-11-14,UK,London,/job/senior-data-scientist-in-london-jid-20612,1,None
1,1.0,4MAT,70773/TO,Harnham,"the company ""as a specialist in new...","£35000 - £45000 per annum + bonus, pension,",35000.0,45000.0,£,45600.00,...,yearly,London,Permanent,None,2019-11-14,UK,London,/job/specialist-new-customer-profitability-and...,2,None
2,3.0,Research Data Analyst,3213 LD,Harnham,charity sector - per daylondon a...,£200 - £225 per day,200.0,225.0,£,242.25,...,daily,London,Contract,None,2019-11-14,UK,London,/job/research-data-analyst-in-london-jid-22285,4,None
3,8.0,4MAT,JAC13112019,Harnham,a leading organisation are looking to on-boa...,£550 - £650 per day,550.0,650.0,£,684.00,...,daily,City of London London,Contract,None,2019-11-14,UK,London,/job/devops-gcp-contractor-in-city-of-london-l...,11,None
4,NaN,Graduate Engineer Artificial Intelligence & Ma...,None,Roke,\n Artificial Intelligence for complex visual ...,None,NaN,NaN,£,NaN,...,None,Gloucestershire,Permanent,2019-10-14 00:00:00,2019-11-13,UK,South West,None,14,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,NaN,Machine Learning Specialist,None,Churchill Frank,\nWorking on Machine Learning algorithms and e...,None,NaN,NaN,£,NaN,...,None,London,Permanent,2019-10-12 00:00:00,11-11-2019,UK,London,None,9617,None
8807,NaN,Data Scientist (AI / ML),None,Michael Page UK,\nDevelop new opportunities to deploy machine ...,"£40,000 - £45,000 a year",40000.0,45000.0,£,42500.00,...,yearly,Bristol,Permanent,2019-10-12 00:00:00,11-11-2019,UK,South West,None,9618,None
8808,NaN,Data Scientist,None,V Group Limited,\nExperience using advanced Machine Learning t...,None,NaN,NaN,£,NaN,...,None,Glasgow,Permanent,2019-11-06 00:00:00,11-11-2019,UK,Scotland,None,9619,None
8809,NaN,Data Scientist,None,White Ops,"\nDevelop algorithms (i.e. rule based, statist...",None,NaN,NaN,£,NaN,...,None,London,None,2019-10-12 00:00:00,11-11-2019,UK,London,None,9620,None
8810,NaN,UK 2020 Graduate Design Engineer,None,Dyson,"\nWorking with engineers, scientists and techn...",None,NaN,NaN,£,NaN,...,None,Malmesbury,None,2019-10-27 00:00:00,11-11-2019,UK,South West,None,9621,None

In [10]:
# change column data type
engine.execute('''ALTER TABLE all_data ALTER COLUMN train_test SET DATA TYPE float USING train_test::double precision''')

In [11]:
# allocate train and tes columns
engine.execute(''' UPDATE all_data 
                    SET train_test_label = CASE 
                    WHEN random() > 0.2 THEN 'train'
                    ELSE 'test'
                    END 
                    WHERE train_test IS NOT NULL''')

In [ ]:
### add a new column
engine.execute(''' ALTER TABLE all_data ADD COLUMN train_test_label text''')

In [15]:
# create a view to experiement with train and test
pd.read_sql(''' SELECT * , 
        CASE 
            WHEN train_test > 0.2 THEN 'train'
            ELSE 'test'
        END train_test_label
        FROM all_data
        LIMIT 10
''', engine)

,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,salary_average,...,location,jobtype,posted_date,extraction_date,country,region,url,id,train_test,train_test_label
0,NaN,Data Analyst,None,Zylo,['SaaS changed the way software is purchased. ...,None,NaN,NaN,None,NaN,...,"Indianapolis, IN",None,2019-11-08,None,USA,Indiana,https://www.indeed.com/rc/clk?jk=af09d0ba7e6d6...,26417,0.393437,train
1,64.0,PROGRAMMATISCHER KAMPAGNENMANAGER,225476,Harnham,köln - plus bonus ...,€60000 - €70000 per annum + BONUS,60000.0,70000.0,€,65000.0,...,Köln Nordrhein-Westfalen,Permanent,None,2019-11-14,GER,Nordrhein-Westfalen,https://www.harnham.com/job/programmatischer-k...,81,0.162939,test
2,NaN,Machine Learning Engineer / Artificial Intelli...,None,Engage Transform Consultancy Ltd,\n Machine Learning Engineer / Artificial Inte...,"£70,000 a year",70000.0,70000.0,£,70000.0,...,United Kingdom,Permanent,2019-10-14 00:00:00,2019-11-13,UK,UK Unknown,None,85,0.102517,test
3,NaN,Data Scientist,j10955,Catalogue Management - DataTech Search and Se...,Senior Catalogue Manager - Negotiable Salary -...,None,NaN,NaN,None,NaN,...,Sweden,permanent,2019-11-13,None,None,None,https://job-openings.monster.co.uk/data-scient...,27004,0.307191,train
4,NaN,Big Data Engineer (w/m/d),None,Active Agent AG,['Deine Aufgaben\nNeuentwicklung des Reporting...,None,NaN,NaN,None,NaN,...,Freiburg,None,2019-10-19,None,Germany,Baden-Württemberg,https://de.indeed.com/rc/clk?jk=28dd16781720ee...,154,0.916908,train
5,NaN,Data Scientist/Specialist,None,BBVA Compass,['Company: Compass Bank dba BBVA Compass\nLoca...,None,NaN,NaN,None,NaN,...,"Houston, TX",None,2019-11-01,None,USA,Texas,https://www.indeed.com/rc/clk?jk=6e09d268f3900...,26687,0.613537,train
6,NaN,Solutions Consultant (UK),None,Amplitude,\n We've built a product intelligence platform...,None,NaN,NaN,£,NaN,...,London,None,2019-11-13 00:00:00,2019-11-13,UK,London,None,291,0.647286,train
7,NaN,Senior Business Intelligence Analyst,None,Proactive IT Appointments,\n Our client who are a global media giant cur...,"£50,000 - £60,000 a year",50000.0,60000.0,£,55000.0,...,London,Permanent,2019-10-14 00:00:00,2019-11-13,UK,London,None,333,0.181957,test
8,NaN,Manager of Data Integration,None,UC San Diego,"[""UC San Diego Health is seeking an applicant ...",None,NaN,NaN,None,NaN,...,"San Diego, CA",None,2019-10-17,None,USA,California,https://www.indeed.com/rc/clk?jk=20b463732befa...,335,0.550215,train
9,NaN,School Data Coordinator,None,Pearson,['**Description**\n\nCompany Summary\n\nAt Pea...,None,NaN,NaN,None,NaN,...,"Columbia, MD 21044",None,2019-11-14,None,USA,Maryland,https://www.indeed.com/rc/clk?jk=147c13c4311bf...,585,0.277983,train

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "train"
LINE 1:  UPDATE all_data SET train_test = 'train' WHERE train_test <...
                                          ^

[SQL:  UPDATE all_data SET train_test = 'train' WHERE train_test < 0.8]
(Background on this error at: http://sqlalche.me/e/9h9h)