In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# calls in SQL
#connect to the database
PASSWORD = pd.read_pickle('C:/Users/lundr/DataScienceJobs/data/SQL_access.pkl')
engine = create_engine('postgresql://postgres:'+PASSWORD+'@dsj-1.c9mo6xd9bf9d.us-west-2.rds.amazonaws.com:5432/')
#connection drops after a while so you may need to re-use this

In [35]:
 pd.read_sql("SELECT count(job_title), AVG(salary_average_euros), MAX(salary_average_euros), MIN(salary_average_euros) FROM all_data WHERE ltrim(rtrim(job_title)) = 'Data Scientist' AND salary_average > 0 AND salary_type = 'yearly'", engine)

   count           avg       max   min
0    226  72141.301239  247500.0  70.0

In [30]:
pd.read_sql("SELECT count(job_title) FROM all_data WHERE job_title LIKE 'Data Scientist' AND salary_average > 0", engine)

   count
0    211

In [34]:
# check the number of rows
pd.read_sql("SELECT count(*) FROM all_data", engine)

   count
0   6195

In [36]:
pd.read_sql("SELECT count(*) FROM all_data WHERE salary_type = 'yearly' AND salary_average > 0 ", engine)

   count
0   5295

In [37]:
pd.read_sql("SELECT * FROM all_data WHERE salary_type = 'yearly' AND salary_average < 5000 ", engine)

,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,salary_average,...,salary_average_euros,salary_type,location,jobtype,posted_date,extraction_date,country,region,url,id
0,None,Product Lead (hive.one; crypto & platforms),None,Borg Collective GmbH,"[""About the Project\n\nMission\n\nTo enable tr...",50.000 € - 70.000 € pro Jahr,50.0,70.0,€,60.0,...,60.00,yearly,Berlin,None,2019-10-22,None,Germany,Berlin,None,9639
1,None,Tech-RecruiterIn (12660),None,REDSOFA BERLIN GMBH,['RedSofa Berlin bietet einen erstklassigen Re...,50.000 € - 60.000 € pro Jahr,50.0,60.0,€,55.0,...,55.00,yearly,Berlin,None,2019-10-21,None,Germany,Berlin,None,9656
2,None,GRADUATE / JUNIOR QUANTITATIVE TRADER,None,Convex Energy GmbH,['Working field:\nConvex Energy is looking to ...,30.000 € - 100.000 € pro Jahr,30.0,100.0,€,65.0,...,65.00,yearly,Berlin,None,2019-09-25,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=67a267bd2836fd...,9664
3,None,DATA ENGINEER,None,Zero to One Search,"[""Join a German dynamic global technology comp...",55.000 € - 120.000 € pro Jahr,55.0,120.0,€,87.5,...,87.50,yearly,Herzogenaurach,None,2019-10-03,None,Germany,Bayern,None,9678
4,None,DIT Deputy Country Director (DEU19.563),None,Foreign & Commonwealth Office,['Job Description (Roles and Responsibilities)...,76.980 € pro Jahr,76.0,76.0,€,76.0,...,76.00,yearly,Berlin,None,2019-10-22,None,Germany,Berlin,None,9682
5,None,"Network Engineer - (Cisco Routing, Switching, ...",None,KR2 Consulting,['Für ein deutschlandweit tätiges Unternehmen ...,50.000 € - 70.000 € pro Jahr,50.0,70.0,€,60.0,...,60.00,yearly,Berlin,None,2019-09-25,None,Germany,Berlin,None,9701
6,None,Business Development Manager,None,NCrypted Technologies,['Job SummaryNCrypted is a software company th...,36.000 € - 72.000 € pro Jahr,36.0,72.0,€,54.0,...,54.00,yearly,Berlin,None,2019-10-19,None,Germany,Berlin,None,9708
7,None,Big Data Engineer,None,Third Republic,['Big Data Engineer - Munich\n\nWho is hiring?...,70.000 € - 98.000 € pro Jahr,70.0,98.0,€,84.0,...,84.00,yearly,München,None,2019-09-30,None,Germany,Bayern,None,9710
8,None,Head of Campus (Berlin),None,Arden University,"[""About Arden UniversityAt Arden University ou...",67.188 € - 71.500 € pro Jahr,67.0,71.0,€,69.0,...,69.00,yearly,Berlin,None,2019-10-03,None,Germany,Berlin,None,9718
9,None,Receptionist,None,Synexus,['Introduction\nAre you an administrator/recep...,25.000 € - 28.000 € pro Jahr,25.0,28.0,€,26.5,...,26.50,yearly,Berlin,None,2019-09-25,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=913d1d923338c2...,9726
10,None,Jr. Digital Analyst,None,Flint Data,['Als einer der führenden FMGCs Europas bewege...,50.000 € - 55.000 € pro Jahr,50.0,55.0,€,52.5,...,52.50,yearly,Berlin,None,2019-10-16,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=9458470d568d5b...,9732
11,None,Unity 3D Developer / Unity 3D Entickler,None,Soulside,"[""Job Description: We are looking for an exper...",30.000 € - 60.000 € pro Jahr,30.0,60.0,€,45.0,...,45.00,yearly,Berlin,None,2019-10-07,None,Germany,Berlin,https://de.indeed.com/company/Selfbeat/jobs/Un...,9733
12,None,Multitalent als Office Manager (m/w/d),None,United World Colleges International gGmbH,['About UWC UWC makes education a force to uni...,26.450 € pro Jahr,26.0,26.0,€,26.0,...,26.00,yearly,Berlin,None,2019-10-19,None,Germany,Berlin,https://de.indeed.com/company/United-World-Col...,9734
13,None,Mathematician (m/w/d),None,Gnosis,"[""Position: Full time\nSalary Range: €50k - €7...",50.000 € - 70.000 € pro Jahr,50.0,70.0,€,60.0,...,60.00,yearly,Berlin,None,2019-09-25,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=9f7330e830ee64...,9735
14,None,In-House Digital Designer,None,Feed Communications,"[""The Feed Way\nFeed is the award-winning, ful...",24.000 € - 28.000 € pro Jahr,24.0,28.0,€,26.0,...,26.00,yearly,Berlin,None,2019-10-18,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=f1d05bb3d1b8e7...,9738
15,None,CRO Analyst,None,Flint Data,['Als deutsche Instituten tüftelt mein Kunde g...,68.000 € - 75.000 € pro Jahr,68.0,75.0,€,71.5,...,71.50,yearly,Berlin,None,2019-10-16,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=123a8cc77d7536...,9739
16,None,Electrical and PCB Design,None,Solarvibes,['SOLARVIBES is an innovative smart farming so...,10.000 € - 50.000 € pro Jahr,10.0,50.0,€,30.0,...,30.00,yearly,Berlin,None,2019-10-01,None,Germany,Berlin,https://de.indeed.com/company/Solarvibes/jobs/...,9740
17,None,EDI / EAI specialist,None,Heinicke Consulting,"[""International Logistics company with family ...",60.000 € - 70.000 € pro Jahr,60.0,70.0,€,65.0,...,65.00,yearly,Berlin,None,2019-10-11,None,Germany,Berlin,https://de.indeed.com/company/Heinicke-Consult...,9741
18,None,Big Data Engineer,None,Flint Data,['Wir sind das Start up der Zukunft\nTools\nAW...,70.000 € - 75.000 € pro Jahr,70.0,75.0,€,72.5,...,72.50,yearly,Hamburg,None,2019-10-16,None,Germany,Hamburg,https://de.indeed.com/rc/clk?jk=91dee37a33cb01...,9754
19,None,Python Software Engineer (f/m/x),None,Brighter AI Technologies,"[""Brighter AI Technologies is a Berlin-based s...",60.000 € - 90.000 € pro Jahr,60.0,90.0,€,75.0,...,75.00,yearly,Berlin,None,2019-09-25,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=34476f04a8742c...,9756
20,None,Neurotech Software Lead,None,Neurosphere,['We are a Berlin-based neurotech company and ...,12.000 € - 50.000 € pro Jahr,12.0,50.0,€,31.0,...,31.00,yearly,Berlin,None,2019-10-08,None,Germany,Berlin,https://de.indeed.com/company/Neurosphere/jobs...,9766
21,None,Data Scientist,None,Flint Data,['Tools\nPython\nKeras\nSpark\nScala\nKNIME\nT...,60.000 € - 80.000 € pro Jahr,60.0,80.0,€,70.0,...,70.00,yearly,Düsseldorf,None,2019-10-16,None,Germany,Nordrhein-Westfalen,https://de.indeed.com/rc/clk?jk=1740dc63c1ba18...,9783
22,None,International Data Manager (m/w/d),None,DKMS Deutsche Knochenmarkspenderdatei gGmbH,['Ein guter Job kann viel bewirken. Bei uns so...,46.000 € - 69.000 € pro Jahr,46.0,69.0,€,57.5,...,57.50,yearly,Tübingen,None,2019-10-25,None,None,None,https://de.indeed.com/rc/clk?jk=19fb4c67ca7171...,9932
23,None,Werkstudent (m/w/d) Data Extraction & Machine ...,None,Kloeckner.i GmbH,['Über unsDie kloeckner.i GmbH beschäftigt sic...,"ristetGehalt: 13,00 € /StundeSprache:german, e...",1300.0,1300.0,€,1300.0,...,1300.00,yearly,Berlin,None,2019-10-31,None,Germany,Berlin,https://de.indeed.com/company/Kloeckner.i-GmbH...,9986
24,None,Big Data Engineer,None,Flint Data,"['""Real Time"" beginnt hier im Backend und unte...",85.000 € - 95.000 € pro Jahr,85.0,95.0,€,90.0,...,90.00,yearly,Berlin,None,2019-10-15,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=4c5bd68dec9ede...,10019
25,None,DATA ENGINEER (JUNIOR-MID-SENIOR),None,Zero to One Search,"[""Join a German dynamic global technology comp...",55.000 € - 100.000 € pro Jahr,55.0,100.0,€,77.5,...,77.50,yearly,Nürnberg,None,2019-10-30,None,Germany,Bayern,https://de.indeed.com/company/Zero-to-One-Sear...,10020
26,None,Data Engineer,None,Zero to One Search,"[""Join a German dynamic global technology comp...",55.000 € - 90.000 € pro Jahr,55.0,90.0,€,72.5,...,72.50,yearly,Leipzig,None,2019-10-23,None,Germany,Sachsen,https://de.indeed.com/company/Zero-to-One-Sear...,10021
27,None,Data Lake Engineer (f/m/d),None,Raiffeisen Capital Management,['Data Lake Engineer (f/m/d)\nAre you ready to...,46.500 € pro Jahr,46.0,46.0,€,46.0,...,46.00,yearly,None,None,2019-10-30,None,Germany,None,https://de.indeed.com/rc/clk?jk=9a9d51d314f1eb...,10024
28,None,Jr. Data Engineer,None,Flint Data,['Seit mehr als 100 Jahren verschmelzen wir al...,70.000 € - 80.000 € pro Jahr,70.0,80.0,€,75.0,...,75.00,yearly,München,None,2019-10-15,None,Germany,Bayern,https://de.indeed.com/rc/clk?jk=a757a8413bd55c...,10026
29,None,Fraud Manager - Payments,None,Payments and Cards Network,"[""We are looking for a skilled Fraud Manager t...",80.000 € pro Jahr,80.0,80.0,€,80.0,...,80.00,yearly,Berlin,None,2019-10-26,None,Germany,Berlin,https://de.indeed.com/rc/clk?jk=4e22e04e4f464e...,10030
30,None,Postdoc in Economics or Management,None,Max Planck Institute for Innovation and Compet...,['The Max Planck Institute for Innovation and ...,54.633 € - 63.326 € pro Jahr,54.0,63.0,€,58.5,...,58.50,yearly,München,None,2019-10-15,None,Germany,Bayern,https://de.indeed.com/rc/clk?jk=bb3a2907bba603...,10032
31,None,Healthcare Research Analyst,None,data information intelligence GmbH,"[""data information intelligence offers healthc...",25.000 € - 30.000 € pro Jahr,25.0,30.0,€,27.5,...,27.50,yearly,Leipzig,None,2019-11-05,None,Germany,Sachsen,https://de.indeed.com/company/data-information...,10064
32,None,Data scientist,None,Sponsokit GmbH,"[""You will have a direct impact on the compani...",30.000 € - 80.000 € pro Jahr,30.0,80.0,€,55.0,...,55.00,yearly,Berlin,None,2019-11-06,None,Germany,Berlin,https://de.indeed.com/company/Sponsokit/jobs/D...,10065
33,None,Data Scientist / Data Engineer (d/m/f),None,Bayes Esports Solutions GmbH,['The world of esports is experiencing explosi...,50.000 € - 70.000 € pro Jahr,50.0,70.0,€,60.0,...,60.00,yearly,Berlin,None,2019-11-02,None,Germany,Berlin,https://de.indeed.com/company/Bayes-Esports-So...,10066
34,None,Senior Data Analyst,None,Holland America Line Inc,"[""Seattle, WA\n\nWe are committed to our missi...","% with a maximum of $3,000 per fiscal year\n40...",3000.0,3000.0,$,3000.0,...,2700.00,yearly,"Seattle, WA 98119 (Queen Anne area)",None,2019-11-05,None,USA,Washington,https://www.indeed.com/rc/clk?jk=fd58e8554af0d...,10140
35,None,Data Analyst,None,Lowe's Inc.,"[""PURPOSE OF ROLE:\n\nThe Analyst, Item Data M...","year 2018 sales of $71.3 billion, Lowe’s and ...",71.0,71.0,$,71.0,...,63.90,yearly,"Mooresville, NC",None,2019-10-31,None,USA,North Carolina,https://www.indeed.com/rc/clk?jk=88659ba7f4245...,10499
36,None,Data Analyst Apprentice,None,Children's Hospital of Wisconsin,['Job Title : Data Analyst Apprenticeship\nPos...,"ce program of up to $3,000 per year. However, ...",3000.0,3000.0,$,3000.0,...,2700.00,yearly,"Milwaukee, WI 53206 (Borchert Field area)",None,2019-11-07,None,USA,Wisconsin,https://www.indeed.com/rc/clk?jk=262b46c13abfe...,10526
37,None,TSM Resident,None,IF RECRUITMENT LTD,TopicsVulnerability ManagerRequesting Country ...,€600.00 - €750.00 per year,600.0,750.0,€,675.0,...,675.00,yearly,Aurich,others,2019-10-22,None,Germany,Niedersachsen,https://job-openings.monster.co.uk/tsm-residen...,10599
38,None,Data Platform Engineer,bmdpe031019,OHO Group Ltd.,Data Platform Engineer – Python / Postgres / D...,£56.25 - £68.75 per year Benefits:,56.0,68.0,£,62.0,...,70.68,yearly,London,others,2019-10-25,None,United Kingdom,London,https://job-openings.monster.co.uk/data-platfo...,10638
39,None,Data Platform Engineer,rl031002,Contract - OHO Group Ltd.,Data Platform Engineer – Contract/Postgres/Doc...,£56.25 - £75.00 per year Benefits:,56.0,75.0,£,65.5,...,74.67,yearly,Hertfordshire,others,2019-10-25,None,United Kingdom,East of England,https://job-openings.monster.co.uk/data-platfo...,10662
40,None,Android Platform Developer,None,Amsterdam - Maclean Moore Limited,Android Platform Developer - AmsterdamMajor Te...,€55.00 - €65.00 per year,55.0,65.0,€,60.0,...,60.00,yearly,Amsterdam,others,2019-11-04,None,Netherlands,North Holland,https://job-openings.monster.co.uk/android-pla...,10725
41,None,"Business Support Researcher, Analyst and Writer",or/ec/1119bsr,Orange Recruitment,"Business Support Researcher, Analyst and Write...",£20-£25k per annum with opportunities for care...,20.0,25.0,£,22.5,...,25.65,yearly,Newcastle Upon Tyne,permanent,2019-11-15,None,United Kingdom,North East,https://job-openings.monster.co.uk/business-su...,10772
42,None,Senior Implementation Specialist,switzerland si,IF RECRUITMENT LTD,Role: Senior Implementation ...,€600.00 - €700.00 per year,600.0,700.0,€,650.0,...,650.00,yearly,Bern,others,2019-11-11,None,Switzerland,Bern,https://job-openings.monster.co.uk/senior-impl...,10948
43,None,Financial Controller,None,Velocity Black,Post date: 13th November 2019Closing date: 13t...,£60.00 - £75.00 per year,60.0,75.0,£,67.5,...,76.95,yearly,London,permanent,2019-11-13,None,United Kingdom,London,https://job-openings.monster.co.uk/financial-c...,11021
44,None,MicroStrategy Developer with SQL Server – Vict...,monex0357,Nexus Recruitment,MicroStrategy Developer with SQL Server – Vict...,£300.00 - £400.00 per year,300.0,400.0,£,350.0,...,399.00,yearly,London,others,2019-11-13,None,United Kingdom,London,https://job-openings.monster.co.uk/microstrate...,11061
45,None,Data Engineer,rl2410,Contract - OHO Group Ltd.,Data Engineer – Contract/NoSQL/Python/Kubernet...,£450.00 - £575.00 per year Benefits:,450.0,575.0,£,512.5,...,584.25,yearly,Hatfield,others,2019-11-14,None,United Kingdom,East,https://job-openings.monster.co.uk/data-engine...,11105
46,None,Data Governance Manager,bbbh28116_1572359291,Cathcart Associates,Data Governance Manager - Immediate start - 6 ...,£600.00 - £700.00 per year,600.0,700.0,£,650.0,...,741.00,yearly,London,others,2019-11-13,None,United Kingdom,London,https://job-openings.monster.co.uk/data-govern...,11247
47,None,Senior Manager Data Literacy & Culture,mp26341ct1240-r002801575,Nationwide,Job description Senior Manager – Data Literacy...,"any allowance worth £4,656 per annum",4656.0,4656.0,£,4656.0,...,5307.84,yearly,Swindon,permanent,2019-11-08,None,United Kingdom,South West,https://job-openings.monster.co.uk/senior-mana...,11250
48,None,Machine Learning Engineer / Artificial Intelli...,None,TOMGANDHI CONSULTING LIMITED,Job description:Required qualifications to be ...,£60.00 - £70.00 per year,60.0,70.0,£,65.0,...,74.10,yearly,London,permanent,2019-11-13,None,United Kingdom,London,https://job-openings.monster.co.uk/machine-lea...,11584

In [52]:
pd.read_sql("SELECT column_name, data_type  FROM information_schema.columns WHERE table_schema = 'public' AND table_name   = 'all_data';", engine)['column_name']

0                    index
1                job_title
2                 ref_code
3                  company
4              description
5                   salary
6               salary_low
7              salary_high
8                 currency
9           salary_average
10        salary_low_euros
11       salary_high_euros
12    salary_average_euros
13             salary_type
14                location
15                 jobtype
16             posted_date
17         extraction_date
18                 country
19                  region
20                     url
21        train_test_label
22                      id
Name: column_name, dtype: object

In [50]:
engine.execute('''

    CREATE TABLE landing (
        index,
        job_title,
        ref_code,
        company,
        description,
        salary,
        salary_low,
        salary_high,
        currency,
        salary_average,
        salary_low_euros,
        salary_high_euros,
        salary_average_euros,
        salary_type,
        location,
        jobtype,
        posted_date,
        extraction_date,
        country,
        region,
        url
    )
                    ''')

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at end of input
LINE 26:
                             ^

[SQL:

    CREATE TABLE landing (
        index,
        job_title,
        ref_code,
        company,
        description,
        salary,
        salary_low,
        salary_high,
        currency,
        salary_average,
        salary_low_euros,
        salary_high_euros,
        salary_average_euros,
        salary_type,
        location,
        jobtype,
        posted_date,
        extraction_date,
        country,
        region,
        url
    )
                    ]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
engine.execute('''
ALTER TABLE all_data 
ADD PRIMARY KEY (id);''')

In [3]:
engine.execute('''
ALTER TABLE all_data
ALTER COLUMN id TYPE SERIAL''')

ProgrammingError: (psycopg2.errors.UndefinedObject) type "serial" does not exist

[SQL:
ALTER TABLE all_data
ALTER COLUMN id TYPE SERIAL]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# check for the last id value
max_id = pd.read_sql("SELECT max(id) FROM all_data", engine).iloc[0,0]
max_id

In [10]:
#create a sequence attached to id column strating with the next number after max value of id
engine.execute('''CREATE SEQUENCE new_id_seq AS integer START 22809 OWNED BY all_data.id;''')

# attach sequence to the column
engine.execute('''ALTER TABLE all_data ALTER COLUMN id SET DEFAULT nextval('new_id_seq');''')

In [183]:
pd.read_sql(''' SELECT description,salary,salary_high,salary_low,salary_average_euros,salary_high_euros,salary_low_euros,id FROM all_data WHERE salary_type = 'yearly' AND salary_high_euros/salary_low_euros > 3 ''', engine)

,description,salary,salary_high,salary_low,salary_average_euros,salary_high_euros,salary_low_euros,id
0,['SOLARVIBES is an innovative smart farming so...,10.000 € - 50.000 € pro Jahr,50000.0,10000.0,30000.0,50000.0,10000.0,11912
1,['Working field:\nConvex Energy is looking to ...,30.000 € - 100.000 € pro Jahr,100000.0,30000.0,65000.0,100000.0,30000.0,1229
2,\n A new business sales/business development p...,"£30,000 - £100,000 a year",100000.0,30000.0,74100.0,114000.0,34200.0,10267
3,\nA new business sales/business development pr...,"£30,000 - £100,000 a year",100000.0,30000.0,74100.0,114000.0,34200.0,10525
4,['We are a Berlin-based neurotech company and ...,12.000 € - 50.000 € pro Jahr,50000.0,12000.0,31000.0,50000.0,12000.0,11937

In [166]:
pd.read_sql(''' SELECT description,salary,salary_high,salary_low,salary_average,salary_average_euros,url,id FROM all_data WHERE salary_type = 'yearly' AND salary_average_euros < 10000 ''', engine)

Empty DataFrame
Columns: [description, salary, salary_high, salary_low, salary_average, salary_average_euros, url, id]
Index: []

In [189]:
engine.execute('''UPDATE all_data
 SET salary_high =NULL ,salary_low = NULL WHERE id = 17593''')

engine.execute('''UPDATE all_data 
SET salary_average = (salary_high+salary_low)/2
 WHERE id=17593''')

engine.execute('''UPDATE all_data
SET salary_high_euros = salary_high, salary_low_euros = salary_low, salary_average_euros = salary_average
WHERE id = 17593''')

In [190]:
pd.read_sql(''' SELECT * FROM all_data WHERE salary_average_euros >300000  ''',engine)

,level_0,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,...,location,jobtype,posted_date,extraction_date,country,region,url,train_test_label,id,language
0,4407.0,1277.0,STAFF MACHINE LEARNING ENGINEER,BH - 67433,Harnham,yr - yr competitive...,US$280427 - US$329197 per annum + Equity,280427.0,329197.0,$,...,San Francisco California,Permanent,None,2019-11-14,USA,California,/job/staff-machine-learning-engineer-in-san-fr...,train,4884,en
1,4632.0,1481.0,Head of Digital Analytics,LH0-38,Harnham,long island ny - ...,US$300000 - US$325000 per annum,300000.0,325000.0,$,...,Long Island New York,Permanent,None,2019-11-14,USA,New York,/job/head-of-digital-analytics-in-long-island-...,train,5117,en
2,4653.0,1500.0,Head of Digital Analytics,JK2323234456,Harnham,ny ny - bonus ...,US$310000 - US$325000 per year,310000.0,325000.0,$,...,New York,Permanent,None,2019-11-14,USA,New York,/job/head-of-analytics-in-new-york-jid-23566,train,5140,en
3,4721.0,1542.0,Head of Digital Analytics,JK6565656565,Harnham,long island ny - ...,US$310000 - US$325000 per year,310000.0,325000.0,$,...,New York,Permanent,None,2019-11-14,USA,New York,/job/head-of-digital-analytics-in-new-york-jid...,train,5210,en
4,NaN,NaN,Stock / Forex Trader,None,Source Enterprises,['SOURCE is now accepting applications for an ...,"ied candidates from $100,000 to $1,000,000 to ...",100000.0,1000000.0,$,...,New York,None,2019-10-27,2019-11-26,USA,New York,https://www.indeed.com/rc/clk?jk=311a44dba7d33...,train,23789,None

In [194]:
pd.read_sql(''' SELECT salary_average_euros,salary_average, id FROM all_data WHERE salary_average_euros > 400000 ''',engine)

   salary_average_euros  salary_average     id
0              495000.0        550000.0  23789

In [196]:
pd.read_sql(''' SELECT count(*) FROM all_data WHERE salary_average_euros>0 AND country = 'USA'  ''',engine)

   count
0   1557

In [3]:
pd.read_sql(''' SELECT * FROM all_data WHERE id = 7374 ''',engine)

,level_0,index,job_title,ref_code,company,description,salary,salary_low,salary_high,currency,...,location,jobtype,posted_date,extraction_date,country,region,url,train_test_label,id,language
0,6830,None,Junior Research Analyst,None,Invesco,\n Excellent knowledge of statistics and optim...,"£72,000 a year",72000.0,72000.0,£,...,London W1H,None,2019-11-07 00:00:00,2019-11-13,UK,London,None,train,7374,en